.info
  %h1= @repo_name

  %form.form-inline{action: '/post'}
    %input{type: 'hidden', name: 'user', value: @user}
    %input{type: 'hidden', name: 'repo', value: @repo}
    %select.form-control#file-select{name: 'file'}
      %option{value:""}ファイルを選択
      - @files.each do |file|
        %option{value:file['sha']}= file['name']
    %input{type: 'hidden', name: 'title'}
    %input.btn.btn-default{type: 'submit', value: '投稿する'}

