.info
  %h4 README.mdにQiita Buttonを設置してGithubからQiitaにポストしよう!
  .code
    [![Qiita Button](https://github2qiita.herokuapp.com/assets/img/qiita.png)](https://github2qiita.herokuapp.com/)
    .img
      %img{src:"https://github2qiita.herokuapp.com/assets/img/qiita.png"}

