.wrapper
  .left
  .right
  .container
    %h1.title
      %span.github Github
      %img.emoji{src: "https://assets-cdn.github.com/images/icons/emoji/unicode/1f449.png", height:"50", width:"50", align:"absmiddle"}
      %span.qiita Qiita
    .info
      Qiita Buttonを設置してGithubからQiitaにポスト
      .code
        [Qiita Button](https://github2qiita.herokuapp.com/)

